/* User Story #13: The navbar should always be at the top of the viewport. */

#nav-bar {
    position: fixed;
    top: 0;
    display: flex;
}


/* User Story #14: My product landing page should have at least one media query. */
@media screen and (max-width: 600px) {
    body {
        background-color: lightblue; 
    }
}

  @media screen and (min-width: 601px) {
    body {
      background-color: red;
    }
  }


  /* User Story #15: My product landing page should utilize CSS flexbox at least once. */

